.ec-root {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.ec-dt {
    font-weight: 500;
    color: rgb(141, 92, 29);
    font-size: 0.875rem;
}

.ec-title {
    font-weight: 500;
}

.ec-loc {
    font-size: 0.875rem;
    color: rgb(117, 117, 117);
}

.ec-img {
    width: 125px;
    height: auto;
}
